* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

#frontimg {
  position: absolute;
  z-index: -2;
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.nav_logo {
  max-width: 33%;
}
header img {
  height: 40px;
  vertical-align: middle;
  border-style: none;
}

#open,
#close {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  display: inline;
}

.nav-item a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgb(34, 35, 35);
  font-size: 1.2em;

  position: relative;
  color: #000000;
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none;
}

.nav-item a:after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0px; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #000000;
  content: "";
  transition: width 0.5s ease-out;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  width: 80%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.container {
  max-width: 100%;
  height: 100vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main {
  color: white;
  padding: 20%;
}
.main h1,
.main h3 {
  padding: 9%;
  background-color: rgba(0, 0, 0, 0.3);

  font-size: 3em;
  line-height: 1.2;
}
.main h3 {
  font-size: 2em;
  padding-bottom: 5%;
}

.main button {
  background-color: #020202;
  border-radius: 8px;
  border: 1px solid #151615;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #636363;
}
.myButton:hover {
  background-color: #0d0e0d;
  color: midnightblue;
}

.main_container {
  width: 70%;
  padding: 15%;
}

.footer {
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.footer img {
  max-width: 25px;
}

/* Responsive Version */

@media (max-width: 800px) {
  header {
    position: relative;
  }

  #frontimg {
    display: none;
  }

  #open {
    display: contents;
  }

  nav {
    width: 100%;
    padding-top: 20px;
    background-color: #fff;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
  nav ul {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
  }

  .nav-item a {
    font-size: 2em;
    line-height: 1.3;
    font-weight: bold;
  }
  .container {
    background-image: url("./img/horrible.jpg");
    height: 812px;
    width: 100%;
    padding: 10%;
  }

  .main {
    padding: 20px 5px;
  }
  .main_container {
    width: 95%;
    padding: 5%;
  }
  .main_container h3 {
    font-size: 2em;
  }
  .main_container p {
    padding: 12px 0 12px 0;
  }
  .footernav ul {
    display: flex;
    flex-direction: column;
  }

  footer .nav-item a {
    font-size: 2.2em;
  }
}
